:root {
    --primario: #9C27B0;
    --primarioOscuro: #891190;
    --secundario: #FFCE00;
    --secundarioOscuro: #927c22;
    --blanco: #FFFF;
    --negro: #0000;
    
    
    --fuentePrincipal: 'Staatliches', cursive;
}
